---
import GameShell from "../components/GameShell.astro";
import { getGame } from "../shared/games";
const game = getGame("dragger");
---
<GameShell game={game}>
  <div id="dragger-board" class="mx-auto w-full max-w-[min(400px,100vw-2rem)] aspect-square rounded-xl border border-hairline bg-ink shadow-[0_8px_30px_rgba(0,0,0,0.12)]"></div>
</GameShell>

<script>
  import { initGame } from "../games/dragger/scripts/game";
  initGame();
</script>
