---
import GameShell from "../components/GameShell.astro";
import { getGame } from "../shared/games";
const game = getGame("jigsaw");
---
<GameShell game={game}>
  <div id="jigsaw" class="mx-auto w-full max-w-[480px]"></div>
</GameShell>

<script>
  import { initGame } from "../games/jigsaw/scripts/game";
  initGame();
</script>
