---
import GameShell from "../components/GameShell.astro";
import { getGame } from "../shared/games";
const game = getGame("minesweeper");
---
<GameShell game={game}>
  <div id="minesweeper" class="mx-auto w-full max-w-[min(420px,100vw-2rem)]" tabindex="0"></div>
</GameShell>
<script>
  import { initGame } from "../games/minesweeper/scripts/game";
  initGame();
</script>
