---
import GameShell from "../components/GameShell.astro";
import { getGame } from "../shared/games";
const game = getGame("sudoku");
---
<GameShell game={game}>
  <div id="sudoku-board" class="mx-auto w-full max-w-[400px]"></div>
</GameShell>

<script>
  import { initGame } from "../games/sudoku/scripts/game";
  initGame();
</script>
