---
import GameShell from "../components/GameShell.astro";
import { getGame } from "../shared/games";
const game = getGame("what-was-there");
---
<GameShell game={game}>
  <div id="whatwasthere-board" class="mx-auto w-full max-w-[420px]"></div>
</GameShell>

<script>
  import { initGame } from "../games/what-was-there/scripts/game";
  initGame();
</script>
