---
import GameShell from "../components/GameShell.astro";
import { getGame } from "../shared/games";
const game = getGame("word-wipe");
---
<GameShell game={game}>
  <div id="word-wipe" class="mx-auto w-full max-w-[360px]"></div>
</GameShell>

<script>
  import { initGame } from "../games/word-wipe/scripts/game";
  initGame();
</script>
