---
---

<div class="flex h-8 w-8 items-center justify-center rounded-lg bg-gradient-to-br from-[#007cf0] to-[#00dfd8] shadow-[0_2px_8px_rgba(0,124,240,0.25)]">
  <svg width="16" height="16" viewBox="0 0 24 24" fill="none" aria-hidden="true">
    <path d="M9.5 7.5v9l8-4.5z" fill="#fff"></path>
  </svg>
</div>
